@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f7;
    font-size: 18px;
    text-align: center;
    font-family: "Host Grotesk", sans-serif;
    font-weight: 450;
    font-style: normal;
}

#header {
    padding: 50px;
    background-color: #adaa99;
    color: #403a33;
}

img {
    border: double 10px #adaa99;
}

#links {
    padding: 15px;
    background-color: #e0e0e0;
}

#links a:link, a:visited {
    color: #303030;
    text-decoration: none;
    padding: 15px 70px;
    margin: 0px 0px;
}

#links a:hover, a:active {
    color: #303030;
    text-decoration: none;
    background-color: #cdccc8;
    padding: 15px 70px;
    margin: 0px 0px;
}

.product {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

h1 {
    font-size: 50px;
    color: #403a33;
}

h2 {
    font-size: 30px;
    color: #403a33;
}

h3 {
    font-size: 25px;
    color: #403a33;
}

.buy a:link, a:visited {
    color: #303030;
    text-decoration: none;
    background-color: #e0e0e0;
    padding: 12px 18px;
}

.buy a:hover, a:active {
    color: #303030;
    text-decoration: none;
    background-color: #cdccc8;
    padding: 12px 18px;
}

.right-column {
    float: right;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    text-align: left;
}

#valueList { 
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}